@charset "UTF-8";
@import "variable";
html,body,div,ul,li{
  margin: 0;
  padding: 0;
}
html{
  font-size: 20px;
  font-family: helvetica, arial, sans-serif;
}
html,body{
  min-height: 100%;
  font-family: '微软雅黑'
}
:global {
  .root-wrap{
    height: 100%;
  }
  .button-large{
    width: 100%;
  }
  .page-loading{
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);  
  }
}